<?xml version='1.0' encoding='utf-8'?>
<widget id="com.fluxsoftwares.adx-2-0-mobile" versionCode="3" version="1.2.3" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>ADX 2.0 Mobile</name>
    <description>
        Aplicativo do sistema acadêmico ADX 2.0, veja seu mural de avisos e suas notas
    </description>
    <author email="suporteadx@doctum.edu.br" href="http://doctum.edu.br/">
        Flux Softwares
    </author>
    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="3.5.0" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <icon src="www/res/img/icon.png" />
    <icon src="www/res/img/icon.png" platform="android" density="ldpi" />
    <icon src="www/res/img/icon.png" platform="android" density="mdpi" />
    <icon src="www/res/img/icon.png" platform="android" density="hdpi" />
    <icon src="www/res/img/icon.png" platform="android" density="xhdpi" />
    <icon src="res/icon/ios/icon-57.png" platform="ios" width="57" height="57" />
    <icon src="res/icon/ios/icon-72.png" platform="ios" width="72" height="72" />
    <icon src="res/icon/ios/icon-57-2x.png" platform="ios" width="114" height="114" />
    <icon src="res/icon/ios/icon-72-2x.png" platform="ios" width="144" height="144" />
    <icon src="res/icon/ios/icon-60-2x.png" platform="ios" width="120" height="120" />
    <icon src="res/icon/ios/icon-76-2x.png" platform="ios" width="152" height="152" />
    <icon src="res/icon/ios/icon-76.png" platform="ios" width="76" height="76" />
    <icon src="res/icon/ios/icon.png" platform="ios" />    
    <!-- iPhone and iPod touch -->
    <splash src="res/splash/ios/Default.png" platform="ios" width="320" height="480" />
    <splash src="res/splash/ios/Default-2x.png" platform="ios" width="640" height="960" />

    <!-- iPhone 5 / iPod Touch (5th Generation) -->
    <splash src="res/splash/ios/Default-568h-2x.png" platform="ios" width="640" height="1136" />

    <!-- iPhone 6 -->
    <splash src="res/splash/ios/Default-667h-2x.png" platform="ios" width="750" height="1334" />
    <splash src="res/splash/ios/Default-Portrait-736h-3x.png" platform="ios" width="1242" height="2208" />
    <splash src="res/splash/ios/Default-Landscape-736h-3x.png" platform="ios" width="2208" height="1242" />

    <!-- iPad -->
    <splash src="res/splash/ios/Default-Portrait.png" platform="ios" width="768" height="1024" />
    <splash src="res/splash/ios/Default-Landscape.png" platform="ios" width="1024" height="768" />

    <!-- Retina iPad -->
    <splash src="res/splash/ios/Default-Portrait-2x.png" platform="ios" width="1536" height="2048" />
    <splash src="res/splash/ios/Default-Landscape-2x.png" platform="ios" width="2048" height="1536" />
    <access origin="*" />
</widget>