<?xml version='1.0' encoding='utf-8'?>
<widget id="com.fluxsoftwares.adx-2-0-mobile" versionCode="1" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>ADX 2.0 Mobile</name>
    <description>
        Aplicativo do sistema acadêmico ADX 2.0, veja seu mural de avisos e suas notas
    </description>
    <author email="suporteadx@doctum.edu.br" href="http://doctum.edu.br/">
        Flux Softwares
    </author>
    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="3.5.0" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <icon src="res/img/icon.png" />
    <!--
        Default icon should work, but cordova don't overwrite
        the default on all densities
    -->
    <icon src="res/img/icon.png" platform="android" density="ldpi" />
    <icon src="res/img/icon.png" platform="android" density="mdpi" />
    <icon src="res/img/icon.png" platform="android" density="hdpi" />
    <icon src="res/img/icon.png" platform="android" density="xhdpi" />
    <!-- iPhone 6 / 6+ -->
    <icon src="res/ios/icon-60@3x.png" gap:platform="ios" width="180" height="180" />

    <!-- iPhone / iPod Touch  -->
    <icon src="res/ios/icon-60.png" gap:platform="ios" width="60" height="60" />
    <icon src="res/ios/icon-60@2x.png" gap:platform="ios" width="120" height="120" />

    <!-- iPad -->
    <icon src="res/ios/icon-76.png" gap:platform="ios" width="76" height="76" />
    <icon src="res/ios/icon-76@2x.png" gap:platform="ios" width="152" height="152" />

    <!-- Settings Icon -->
    <icon src="res/ios/icon-small.png" gap:platform="ios" width="29" height="29" />
    <icon src="res/ios/icon-small@2x.png" gap:platform="ios" width="58" height="58" />

    <!-- Spotlight Icon -->
    <icon src="res/ios/icon-40.png" gap:platform="ios" width="40" height="40" />
    <icon src="res/ios/icon-40@2x.png" gap:platform="ios" width="80" height="80" />
    <access origin="*" />
</widget>