.bar-nav{
    background-color: #2C3E50;
}
#tela-notas{
    display: none;
}
#load{
   position: absolute;
   top: 50%;
   left: 50%;
   width: 64px;
   height: 64px;
   margin-top: -32px; /* Half the height */
   margin-left: -32px; /* Half the width */
}
.etapa{
    background-color: #098ed8;
}
.etapa-nome{
    color: white;
}
.nota-agendamento{
    color: blue;
}
.content-page{
    margin-bottom: 35px;
}
.titulo-modal{
    color: white;
}
.remetente-data{
    color: black;
}
.titulo-aviso{
    font-size: 20px;
    color: black;
}
.texto-aviso{
    text-align: justify;
}

html {
    -webkit-user-select: none;
}